[Desktop Entry]
Version=1.0
Type=Application
Name=Sublime Text
Comment=Sophisticated text editor for code, markup and prose
Exec=/opt/sublime_text/sublime_text %F
Icon=sublime-text
Path=
Terminal=false
StartupNotify=true
